<h3>Offers!!!</h3>

<div class="demo-content">
	<mdc-image-list #demolist class="standard-image-list">
		<mdc-image-list-item *ngFor="let i of images">
			<mdc-image-list-image-aspect>
				<img mdcImageListImage src="https://material-components-web.appspot.com/images/photos/3x2/{{i+1}}.jpg" />
			</mdc-image-list-image-aspect>
			<mdc-image-list-supporting>
				<span mdcImageListLabel></span>
			</mdc-image-list-supporting>
		</mdc-image-list-item>
	</mdc-image-list>
</div>


<img src={{imgname}} />

